<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do Manager</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include('header.ejs') %>
        <form>
          <div class="flex py-4 gap-2">
            <div class="flex-auto">
              <input
                class="border border-gray-300 text-gray-900 w-full rounded p-2 text-sm"
                type="text"
                placeholder="What's next?"
                required
              />
            </div>
            <div class="flex-auto">
              <input
                class="border border-gray-300 text-gray-900 w-full rounded p-2 text-sm leading-4"
                type="date"
              />
            </div>
            <div class="flex-none">
              <button
                class="bg-green-600 text-white py-1 px-5 rounded font-medium mr-2 mb-1"
                type="submit"
              >
                Add
              </button>
            </div>
          </div>
        </form>
        <div class="flex flex-col gap-2">
          <h5>Overdue</h5>
          <h5 class="rounded-xl bg-gray-600 text-white px-2" id="count-overdue">
            <%= overdue.length %>
          </h5>
          <%- include('todo.ejs', {todos: overdue}) %>
          <h5>Due Today</h5>
          <h5
            class="rounded-xl bg-gray-600 text-white px-2"
            id="count-due-today"
          >
            <%= dueToday.length %>
          </h5>
          <%- include('todo.ejs', {todos: dueToday}) %>
          <h5>Due Later</h5>
          <h5
            class="rounded-xl bg-gray-600 text-white px-2"
            id="count-due-later"
          >
            <%= dueLater.length %>
          </h5>
          <%- include('todo.ejs', {todos: dueLater}) %>
        </div>
      </div>
    </div>
  </body>
</html>
